html {
    background-image: linear-gradient(to right top, #f4a8d3, #e5a7db, #d3a6e2, #bea6e7, #a7a7e9, #a7a7e9, #a7a7e9, #a7a7e9, #bea6e7, #d3a6e2, #e5a7db, #f4a8d3);
    height: 100%;
}

.grid-item:hover {
    background-color: rgb(133, 132, 132);
}

#canvas {
    display: grid;
    grid-template-columns: repeat(16, auto);
    width: 600px;
    height: 600px;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: -200px;
    box-shadow: 0.2em 0.2em 0.5em rgba(132, 94, 194,0.7);
    background-color: white;
}

.normal-active #canvas{
    cursor: url(images/pencil.png) 0 31, auto;
}

.rainbow-active #canvas{
    cursor: url(images/rainbow2.png) 14 14, auto;
}

.eraser-active #canvas{
    cursor: url(images/eraser.png) 0 31, auto;
}

.grid-on .grid-item{
border: .5px solid rgba(0, 0, 0, 0.8);
}

#wrapper {
    display: flex;
    justify-content: space-around;
}

.tools {
    border: 1px solid;
    margin-left: 379px;
    margin-top: 100px;
    padding-top: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0.2em 0.2em 0.5em rgba(132, 94, 194,0.7);
    background-color: white;
}

.tools * {
    display: block;
    margin-bottom: 20px;
}

.tools button, #paint-style {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: white;
}

.input input{
    float: left;
}

img {
    width: 45px;
    height: auto;
}

#normal {
    background: url(images/pencil-icon.png) no-repeat center;
    background-size: 45px 45px;
}

#rainbow {
    background: url(images/Rainbow.png) no-repeat center;
    background-size: 70px 70px;
}

#eraser {
    background: url(images/eraser-icon.png) no-repeat center;
    background-size: 45px 45px;
    

}

#size {
    background: url(images/resize.png) no-repeat center;
    background-size: 40px 40px;
}

#clear-all {
    background: url(images/clear-all.png) no-repeat center;
    background-size: 70px 70px;
}

.normal-active #normal, .rainbow-active #rainbow, .eraser-active #eraser {
    background-color: rgba(132, 189, 242, 0.8);
}

#pick-a-color {
    margin-left: auto;
    margin-right: auto;
  }

#credits {
    text-align: center;
    padding: 20px
}