html {
    background-image: linear-gradient(to right top, #f4a8d3, #e5a7db, #d3a6e2, #bea6e7, #a7a7e9, #a7a7e9, #a7a7e9, #a7a7e9, #bea6e7, #d3a6e2, #e5a7db, #f4a8d3);
    height: 100%;
    font-family: 'DotGothic16';
}

#logo{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 5px 4px 2px rgba(132, 94, 194,0.7);
}

#logo-img {
    width: 100px;
    filter: drop-shadow(5px 4px 2px rgba(132, 94, 194,0.7));
}

.grid-item:hover {
    background-color: rgb(133, 132, 132);
}

#canvas {
    display: grid;
    grid-template-columns: repeat(16, auto);
    width: 600px;
    height: 600px;
    box-shadow: 0.4em 0.2em 0.8em rgba(132, 94, 194,0.7);
    background-color: white;
}

.normal-active #canvas{
    cursor: url(images/pencil.png) 0 31, auto;
}

.rainbow-active #canvas{
    cursor: url(images/rainbow2.png) 14 14, auto;
}

.eraser-active #canvas{
    cursor: url(images/eraser.png) 0 31, auto;
}

.grid-on .grid-item{
border: .5px solid rgba(0, 0, 0, 0.8);
}

#canvas.transparency-active {
    background-color: transparent;
}

#wrapper {
    display: flex;
    justify-content: space-around center;
    padding-top: 30px;
    gap: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.tools {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0.4em 0.2em 0.8em rgba(132, 94, 194,0.7);
}

.dropdown {
    margin: 0;
}

#tool-header {
    background-color: #a7a7e9;
    margin-top: -33px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 14px;
    margin-bottom: 20px;
    font-size: 20px;
}

.tools > * {
    margin-bottom: 10px;
    flex-direction: initial;
}

.tools button, #paint-style {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: 'DotGothic16';
}

.input-grid input{
    float: left;
}

img {
    width: 45px;
    height: auto;
}

#normal {
    background-image: url(images/pencil-icon.png);
}

#rainbow {
    background-image: url(images/Rainbow.png);
}

#eraser {
    background-image: url(images/eraser-icon.png);
}

#size {
    background-image: url(images/resize.png);
}

#clear-all {
    background-image: url(images/clear-all.png);
}

.normal-active #normal, .rainbow-active #rainbow, .eraser-active #eraser {
    background-color: rgba(132, 189, 242, 0.8);
}

#pick-a-color {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

footer {
    text-align: center;
    padding: 40px;
    font-size: 20px;
    color: white;
    text-shadow: 5px 4px 2px rgba(132, 94, 194,0.7);
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color:rgb(83, 59, 121);
}

.popup{
    width: 400px;
    height: 160px;
    background-color:#a7a7e9;
    position: absolute;
    text-align: center;
    align-content: center;
    border: 1px solid;
    border-radius: 20px;
    font-size: 24px;
    padding: 20px;
}

#close-popup {
    background-image: url(images/CloseWindow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    display: block;
    float: right;
}

#close-popup:hover{
    cursor: pointer;
}

#modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.display-popup #modal-overlay{
    visibility: visible;
}

.display-popup #wrapper{
    filter: blur(3px);
}